* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    width: 100%;
}



#idUl {
    
    margin-top: 0;
    background-color: #150320;  
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}

#idBotonIrCarrito {
    margin-left: auto;
    margin-right: 0;
}


a {
    font-size: 1.6rem;
    color: #b88d00;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    text-decoration: none;
}

img {
    max-width: 150px;
    min-width: 150px;
    height: auto;
}

button {
    padding: 0.3rem;
    background-color: #150320;
    color: #b88d00;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* PROMESAS */

.titulo {
    text-align: center;
    margin-top: 2rem;
}

.div-busqueda {
    padding: 2rem;
}

.busqueda {
    min-width: 240px;
    margin: 1rem;
}

.tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem;
}

.card {
    align-items: center;
}

.card img {
    width: 16rem;
    padding: .5rem;
}

/* MUSICA */
#albums-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra el contenedor dentro de su etiqueta padre */
    padding: 2rem;
    width: 90%;
    background-color: #150320;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    margin-top: 1rem;
  }
  
  #cardAlbum {
    text-align: center;
    height: 300px;
    width: 16rem;
    padding: 1rem;
    background-color: #23003a;
    margin: 0.5rem; /* Espacio entre las tarjetas */
    display: flex;
    flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
    justify-content: space-between; /* Espacia el contenido */
    box-sizing: border-box; /* Incluye el padding y border dentro del ancho y alto */
  }
  
  .titelAlbum {
    color: #b88d00;
    font-family: buda;
    overflow: hidden; /* Oculta el texto desbordado */
    text-overflow: ellipsis; /* Añade "..." al texto desbordado */
    white-space: nowrap; /* Evita el ajuste de línea del texto */
  }
  
  .imgAlbum {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    max-width: 100%; /* Asegura que la imagen no se agrande más allá del contenedor */
    max-height: 100%; /* Asegura que la imagen no se agrande más allá del contenedor */
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
  }
  
/* MUSICA */

/* GALLERY*/
.gallery {
    width: 100%;
    height: 350px;
    overflow: hidden; /* Asegura que el contenido que desborda se oculte */
  }
  
  .fotoIndex {
    display: block;
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Evita que la imagen sea más grande que su contenedor */
    max-height: 100%; /* Evita que la imagen sea más alta que su contenedor */
    object-fit: contain; /* Mantiene la proporción de la imagen sin recortar */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  
  
/* GALLERY*/

