* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    width: 100%;
}
#idUl {
    background-color: #150320;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;

}
a {
    font-size: 1.6rem;
    color: #b88d00;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    text-decoration: none;
}
img {
    max-width: 150px;
    min-width: 150px;
    height: auto;
}
button {
    padding: 0.3rem;
    background-color: #150320;
    color: #b88d00;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}